@model List<BartMarket.Warehouse>
@{
    Layout = "/Views/_Layout.cshtml";
}
<div>
    <label>Имя склада:</label>
    <br />

    @foreach (var item in Model)
{

        <form method="post" action="warehouses">
        <input type="text" disabled="disabled" value=@item.Name name="ware_delete" />
      <a href="changeware?ware=@item.Name">Изменить склад</a>
            <a href="changeware?delete=@item.Name">Удалить склад</a>


        <br />
        </form>

      
}
</div>
    <br /><br /><br />
<form method="post" action="warehouses">

    <label>Введите имя склада:</label>
    <br/>
    <input type="text" name="ware"/>
    <br /><br />

    <label>Есть ли у склада условия:</label>
    <br />
    <input type="checkbox" name="havecond" />
    <br /><br />
    <label>Если есть условия, впишите их в строку ниже как показано в примере.</label>
    <br />
    <label>Если параметр стекло не указано, значение по умолчанию: yes(стекло на данном складе разрешено)</label>
    <br />
    <label>Доступные фильтры сейчас : weight(вес), price(цена), glass(стекло)</label>
    <br />
    <div >
       
        <label>Примеры:</label>
        <br />
        <input size="50" disabled="disabled" value="weight > 30;price+1500-200 > 5000;(price+1500) * 2 < 10000">
        <br />
        <input size="40" disabled="disabled" value="weight > 30;price+1500-200 > 5000;glass=yes">
        <br />

        <input size="30" disabled="disabled" value="glass=price < 1000; glass=no">
        <br />
        <input size="20" disabled="disabled" value="(price+1500) < 10000">
    </div>
    <br />

<label>Введите условия:</label>
    <input type="text" size="40" name="cond" />
    <br /><br />

    <button type="submit">Сохранить склад</button>
</form>