@model BartMarket.Warehouse

<form method="post" action="changeware">

    <label>Имя склада:</label>
    <br />
    <input type="text" name="ware" value="@Model.Name"/>
    <input type="text" hidden="hidden" name="oldware" value="@Model.Name" />

    <br /><br />

    @{
        string c = "";
        if(Model.Condition == null){
        }else{
            foreach (var item in Model.Condition)
            {
                c += item + ";";
            }
            c.TrimEnd(';');

        }
        <br/>

        <div>

            <label>Доступные условия и примеры:</label>
            <br />
            <input size="50" disabled="disabled" value="weight > 30;price+1500-200 > 5000;(price+1500) * 2 < 10000">
            <br />
            <input size="40" disabled="disabled" value="weight > 30;price+1500-200 > 5000;glass=yes">
            <br />

            <input size="30" disabled="disabled" value="glass=price < 1000; glass=no">
            <br />
            <input size="20" disabled="disabled" value="(price+1500) < 10000">
        </div>
        <br/>
        <label>Условие склада:</label>
        <br />
        <input type="text" size="60" name="cond" value="@c" />
        <br />

        <br />
   
    
    }

    <button type="submit">Сохранить склад</button>
</form>