
<style>
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
</style>
<div align="center">
    <label style="font-size:medium"><b>Ссылка для копирования (и для озона) лайт фида:</b></label>
    <br />
    <br />

    <input size="52" value="@ViewData["URL1"]" />

    <br />
    <br />

    <label style="font-size:medium"><b>Ссылка для скачивания лайт фида:</b></label>
    <br />
    <a href="~/content/liteozon.xml" download="liteozon.xml">Скачать</a>
        <br />
    <br />

    <hr />
    <br />
    <br />
    <br />
    
    <label style="font-size:medium"><b>Ссылка для копирования полного фида:</b></label>
    <br />
    <br />

    <input size="52" value="@ViewData["URL2"]" />

    <br />
    <br />

    <label style="font-size:medium"><b>Ссылка для скачивания полного фида:</b></label>
    <br />
    <a href="~/content/fullozon.xml" download="fullozon.xml">Скачать</a>
    <br />
    <br />

    <hr />
    <br />
    <br />
    <br />


    @if (ViewData["SUCCESS"] != null)
    {
        <script>alert("Формулы успешно сохранены");</script>
    }
    <form method="post" action="ozon">

        <input type="text" size="42" id="formula" name="formula" value="@ViewData["FORMULA"]" />

        <button type="submit">Сохранить формулы</button>


    </form>
</div>
