<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <hr/>
    <a style="color:black;font-size:20px" href="home">Главная страница</a>

    <hr/>
    <br />
    <br />
    <div>
        @RenderBody()
    </div>
</body>
</html>