@model BartMarket.Warehouse

<form method="post" action="changeware">

    <label>Имя склада:</label>
    <br />
    <input type="text" name="ware" value="@Model.Name"/>
    <input type="text" hidden="hidden" name="oldware" value="@Model.Name" />

    <br /><br />

    @{
        string c = "";
        if(Model.Condition == null){
        }else{
            foreach (var item in Model.Condition)
            {
                c += item + ";";
            }
            c.TrimEnd(';');

        }
        <br/>
        <label>Условие склада:</label>
        <br />
        <input type="text" size="60" name="cond" value="@c" />
        <br />

        <br />
   
    
    }

    <button type="submit">Сохранить склад</button>
</form>